<%- include('../partials/header'); %>

<div class="constrained-full-height">

    <div id="page-register">

        <div class="container">

            <div class="row gx-5">

                <div class="col">
                    
                    <div class="content-section">
                        <div class="text-center mt-3">
                            <h1 class="mb-3">Login</h1>
                            <div class="hr"></div>
                        </div>

                        <form id="login-form" class="mt-5" method="POST" action="/users/login">

                            <ul class="error-msgs"></ul>

                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" class="form-control" id="name" name="name">
                              </div>

                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" rows="3" name="password"></input>
                            </div>

                            <div class="success-msg"></div>
                
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>

                        </form>
                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<%- include('../partials/footer'); %>