<!--This parent folder "view" is a reserved file name, use "views" instead-->
<!--This is EJS template, for dynamic HTML content-->
<!-- need to run - npm install ejs-->


<!DOCTYPE html>

<html>
    <head>
        <title>Pokemon</title>
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1><%= myPageTitle %></h1>

        <ul>
            <% pokemon.forEach( p => { %> <!--here got extra %>, serve as a new line, because EJS the html javascript code cannot go next line-->
                <li>
                    <%= p.name %>
                    <img src="<%= p.img %>.jpg">
                </li>
            <% }) %>
        </ul>
    </body>
</html>