<!DOCTYPE html>

<html>
    <head>
        <title>Pokemon</title>
        <link rel="stylesheet" href="" />
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="http://localhost:3000">Home</a></li>
                    <li><a href="http://localhost:3000/pokemon">All pokemon</a></li>
                </ul>
            </nav>
        </header>
        <main>