<%- include('../partials/header'); %>

<div id="page-profile">
    <div class="container my-5">
        <h3>This page renders user information here such as:</h3>
        <p>Total Carparks Contributed</p>
        <p>Total Upvotes</p>
    </div>
</div>

<%- include('../partials/footer'); %>