<%- include('../partials/header'); %>

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Artisanal Breads & Cakes<br />Freshly Baked Everyday</h1>
            <button type="button" class="btn btn-light">
                See Our Fresh Bakes
            </button>
        </div>
    </div>
</div>

<%- include('../partials/footer'); %>
